<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" memu="main"></ion-menu-button>
      </ion-buttons>

      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

        <div *ngFor="let item of items">
            <ion-menu-toggle auto-hide="false" *ngIf="item.link">
                <ion-item [routerLink]="item.link" routerDirection="root" [class.active-item]="selectedPath === item.link">
                    <ion-icon [name]="item.icon" slot="start"></ion-icon>
                    <ion-label>{{ item.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-item button *ngIf="item.children?.length > 0" (click)="item.open = !item.open" [class.active-parent]="item.open" detail="false">
                <ion-icon name="arrow-forward" *ngIf="!item.open" slot="start"></ion-icon>
                <ion-icon name="arrow-down" *ngIf="item.open" slot="start"></ion-icon>
                <ion-label>{{ item.title }}</ion-label>
            </ion-item>

            <ion-list *ngIf="item.open">
                <ion-menu-toggle>
                    <ion-item class="sub-item" *ngFor="let sub of item.children" [routerLink]="sub.link" routerDirection="root" [class.active-item]="selectedPath === sub.link">
                        <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        <ion-label>{{ sub.title }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </div>
        
    </ion-content>
</ion-menu>