<ion-content [fullscreen]="true" padding="true">

    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Editar Estudio Contable</ion-card-title>
                <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="afiForm" (ngSubmit)="onSubmit(afiForm.value)" autocomplete="off">
                <ion-grid>
                    <ion-item-divider>
                        <ion-label>
                            Datos Del Estudio Contable
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">CUIT.</ion-label>
                                <ion-input type="number" formControlName="cuit" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Zona</ion-label>
                                <ion-select formControlName="zona" placeholder="Seleccione una delegacion">
                                    <ion-select-option value="0001" disabled>SC</ion-select-option>
                                    <ion-select-option value="0002" disabled>SO</ion-select-option>
                                    <ion-select-option value="0003" disabled>VA</ion-select-option>
                                    <ion-select-option value="0004" disabled>LB</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label position="floating">Denominación</ion-label>
                                <ion-input formControlName="denominacion"  readonly></ion-input>
                            </ion-item>
                        </ion-col> 
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Residencia
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Dirección</ion-label>
                                <ion-input formControlName="direccion"  readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Localidad</ion-label>
                                <ion-input formControlName="localidad"  readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Provincia</ion-label>
                                <ion-input formControlName="provincia"  readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Código Postal</ion-label>
                                <ion-input type="number" formControlName="codigo_postal" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Contacto
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input formControlName="email"  readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Telefono</ion-label>
                                <ion-input type="number" formControlName="telefono" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Integrantes
                        </ion-label>
                    </ion-item-divider>
                    <ion-row *ngFor="let item of integrantes; let indice = index">
                        <ion-col size="3">
                            <ion-list>
                                <ion-item>
                                    <ion-note slot="start"># {{ indice + 1 }}</ion-note>
                                    <ion-label> Nombre: {{ item.afi_nombre }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="3">
                            <ion-list>
                                <ion-item>
                                    <ion-label> DNI: {{ item.afi_nrodoc }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="3">
                            <ion-list>
                                <ion-item>
                                    <ion-label> Matricula: {{ indice + 1 }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="2">
                            <ion-list>
                                <ion-item>
                                    <ion-label>Titulo:</ion-label>
                                    <ion-label *ngFor="let titu of item.titulos">{{titu.nombre}},</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>