<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Login</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <img src="assets/CPCE_logo_negro.png"/>
      <h1>Inicio de Session</h1>
      <h3>Sistema de Gestión Contable</h3>
      <!-- <ion-button (click)="goAdmin()" color="success">Admin</ion-button> -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="on">
        <ion-grid>
          <ion-row >
            <ion-col size="6" offset="3">
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="6" offset="3">
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type="submit" color="primary">Entrar</ion-button>
      </form>
    </div>
</ion-content>