<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Nueva Adhesión</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">
                            <ion-label position="floating">Profesional:</ion-label>
                            <ion-item>
                                <ionic-selectable 
                                    item-content
                                    formControlName="afiliado" 
                                    itemValueField="afi_nrodoc" 
                                    itemTextField="afi_nombre"
                                    [items]="afiliados" 
                                    [canSearch]="true"
                                    (onSearch)="searchChangeAfiliado($event)"
                                    (onChange)="onChangeAfiliado($event)"
                                    placeholder="Seleccione profesional"
                                >
                                </ionic-selectable>
                            </ion-item>
                        </ion-col> 
                        <ion-col size="3">
                            <ion-label position="floating">Tarjeta:</ion-label>
                            <ion-item>
                                <ionic-selectable 
                                    item-content
                                    formControlName="tarjeta" 
                                    itemValueField="numero" 
                                    itemTextField="descripcion"
                                    [items]="tarjetas" 
                                    (onChange)="onChangeTarjeta()"
                                    placeholder="Seleccione tarjeta"
                                >
                                </ionic-selectable>
                            </ion-item>
                        </ion-col> 
                        <ion-col size="3">
                            <ion-label position="floating">Cuenta:</ion-label>
                            <ion-item>
                                <ionic-selectable 
                                    item-content
                                    formControlName="cuenta" 
                                    itemValueField="numero" 
                                    itemTextField="descripcion"
                                    [items]="cuentas" 
                                    placeholder="Seleccione cuenta"
                                >
                                </ionic-selectable>
                            </ion-item>
                        </ion-col> 
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;">
                        <ion-button type="submit" color="success">Guardar</ion-button>
                    </ion-row>
                </ion-grid> 
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>