<ion-content [fullscreen]="true" padding="true">
    
  <ion-card size="large">
      <ion-card-header>
          <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Editar Familiar</ion-card-title>
              <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
          </div>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="afiForm" (ngSubmit)="onSubmit(afiForm.value)" autocomplete="off">
              <ion-grid>
                <ion-item-divider>
                    <ion-label>
                        Datos Personales
                    </ion-label>
                </ion-item-divider>
                <ion-row>
                    <ion-col size="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="sexo" placeholder="selec. sexo" [(ngModel)]="sexoSelectedDefault">
                                <mat-option value="F">Femenino</mat-option>
                                <mat-option value="M">Masculino</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Estado Civil</mat-label>
                            <mat-select formControlName="estado_civil" placeholder="Seleccione uno" [(ngModel)]="civilSelectedDefault">
                                <mat-option value="S">Soltero/a</mat-option>
                                <mat-option value="C">Casado/a</mat-option>
                                <mat-option value="V">Viudo/a</mat-option>
                                <mat-option value="D">Divorciado/a</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="2" offset="6">
                        <ion-item>
                            <ion-label position="floating">Fecha de Nacimiento</ion-label>
                            <ion-datetime
                                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                pickerFormat="DD de MMMM del YYYY" 
                                formControlName="fecha_nacimiento"
                                placeholder="selec. fecha de nac."
                            >
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="apellido">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>C.U.I.T.</mat-label>
                            <input matInput formControlName="cuit" mask="99-99.999.999-9">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
                <ion-item-divider>
                    <ion-label>
                        Residencia
                    </ion-label>
                </ion-item-divider>
                <ion-row>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="direccion">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Provincia</mat-label>
                            <input matInput formControlName="provincia">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Localidad</mat-label>
                            <input matInput formControlName="localidad">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Código Postal</mat-label>
                            <input matInput formControlName="codigo_postal" mask="9999">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
                <ion-item-divider>
                    <ion-label>
                        Contacto
                    </ion-label>
                </ion-item-divider>
                <ion-row>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="mail" type="email">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field appearance="outline">
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono" mask="(999) 9 999999">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
                <ion-row style="display: flex; flex-direction: row-reverse;">
                    <ion-button type="submit" color="success">Guardar</ion-button>
                </ion-row>
            </ion-grid>
        </form>
      </ion-card-content>
  </ion-card>

</ion-content>