<ion-content [fullscreen]="true" padding="true">
    <ion-card size="large">
        <ion-card-header>
            <ion-card-title>Listado Recibos Débitos Automáticos con Tarjetas de Crédito</ion-card-title>
        </ion-card-header>
        <ion-card-content>
    
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="afi_nrodoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> D.N.I. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afiliado.afi_nrodoc | mask: '99.999.999' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="afi_nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido y Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afiliado.afi_nombre }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="importe">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Importe </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.tarjeta.descripcion }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fecha_adh">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Pago </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.fecha.date | date : 'dd/MM/yyyy' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cuenta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.cuenta.descripcion }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ion-chip color="warning">
                            <ion-icon name="create"></ion-icon>
                            <ion-label>Ver</ion-label>
                        </ion-chip>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No existen datos....
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide': !dataSource.data.length == 0 }"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hide': !dataSource.data.length == 0 }"></mat-footer-row>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" showFirstLastButtons></mat-paginator>

        </ion-card-content>
    </ion-card>
</ion-content>