<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Listado de Afiliados</ion-card-title>
            <ion-button size="small" color="light" shape="round" (click)="showTuto()">
                <ion-icon name="bulb-outline"></ion-icon>
            </ion-button>
            <ion-button color="success" (click)="onNew()">Agregar Nuevo Afiliado</ion-button>
        </ion-card-header>
        <ion-card-content>
            
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="afi_nrodoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> D.N.I. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afi_nrodoc }} </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="titulo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afi_titulos[0].titulo.nombre }} </mat-cell>
                </ng-container> -->

                <!-- <ng-container matColumnDef="matricula">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Matricula </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afi_titulos[0].matricula }} </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="afi_nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido y Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afi_nombre }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="afi_mail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.afi_mail }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ion-chip color="primary" (click)="onShow(element.afi_nrodoc)">
                            <ion-icon name="search-circle"></ion-icon>
                            <ion-label>Ver más</ion-label>
                        </ion-chip>
                        <ion-chip color="warning" (click)="onEdit(element.afi_nrodoc)">
                            <ion-icon name="create"></ion-icon>
                            <ion-label>Editar</ion-label>
                        </ion-chip>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </mat-footer-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No existen datos....
                    </mat-footer-cell>
                </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide': !dataSource.data.length == 0 }"></mat-footer-row>
                <!-- <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hide': !(dataSource != null && dataSource.data.length == 0) }"></mat-footer-row> -->
            </table>

            <mat-paginator [pageSizeOptions]="[50, 150, 300, 500, 1000]" showFirstLastButtons></mat-paginator>
    
        </ion-card-content>
    </ion-card>
</ion-content>