<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Editar Afiliado</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="afiForm" (ngSubmit)="onSubmit(afiForm.value)" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Ficha</mat-label>
                                <input matInput formControlName="afi_ficha">
                            </mat-form-field>
                        </ion-col> 
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Datos Personales
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Zona</mat-label>
                                <mat-select formControlName="afi_zona" placeholder="selec. delegacion">
                                    <mat-option value="SC">Sede Central</mat-option>
                                    <mat-option value="VA">Villa Ángela</mat-option>
                                    <mat-option value="SP">Saénz Peña</mat-option>
                                    <mat-option value="SO">Sudoeste</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3" offset="1">
                            <mat-form-field appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="afi_sexo">
                                    <mat-option value="F">Femenino</mat-option>
                                    <mat-option value="M">Masculino</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Estado Civil</mat-label>
                                <mat-select formControlName="afi_civil">
                                    <mat-option value="S">Soltero/a</mat-option>
                                    <mat-option value="C">Casado/a</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2" offset="1">
                            <ion-item>
                                <ion-label position="floating">Fecha de Nacimiento</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="DD de MMMM del YYYY" 
                                    formControlName="afi_fecnac"
                                    placeholder="selec. fecha de nac."
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido y Nombre</mat-label>
                                <input matInput formControlName="afi_nombre">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>D.N.I.</mat-label>
                                <input matInput formControlName="afi_nrodoc" mask="99.999.999" readonly>
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Residencia
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="afi_direccion">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Provincia</mat-label>
                                <input matInput formControlName="afi_provincia">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Localidad</mat-label>
                                <input matInput formControlName="afi_localidad">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Código Postal</mat-label>
                                <input matInput formControlName="afi_codpos" mask="9999">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Contacto
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="afi_mail" type="email">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input matInput formControlName="afi_telefono2" mask="(999) 9 999999">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Titulos
                        </ion-label>
                    </ion-item-divider>
                    <ion-row [formGroup]="tituloForm">
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Titulo</ion-label>
                                <ion-select formControlName="titulo" placeholder="Seleccione Titulo" interface="popover">
                                    <ion-select-option *ngFor="let titulo of titulosCollection; let i = index;" [value]="titulo"> 
                                        {{ titulo.nombre }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Matricula</ion-label>
                                <ion-input type="number" formControlName="matricula"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-end">
                            <ion-button color="primary" (click)="addNewTitulo(tituloForm.value)">Agregar Titulo <ion-icon name="add-circle"></ion-icon></ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ng-template [ngIf]="!dataSourceTitulos.data.length == 0" [ngIfElse]="noDataTitulo">
                                <table mat-table [dataSource]="dataSourceTitulos" class="mat-elevation-z8">
            
                                    <ng-container matColumnDef="titulo">
                                        <th mat-header-cell *matHeaderCellDef> Titulo </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.titulo.nombre }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="matricula">
                                        <th mat-header-cell *matHeaderCellDef> Matricula </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.matricula }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <ion-chip color="danger" (click)="onDeletedTitulo(element.id)">
                                                <ion-icon name="trash"></ion-icon>
                                                <ion-label>Borrar</ion-label>
                                            </ion-chip>
                                        </td>
                                    </ng-container>
                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTitulo"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTitulo;"></tr>
                                </table>
                            </ng-template>
                            <ng-template #noDataTitulo>
                                <ion-badge color="warning">Deberá agregar al menos un Título al profesional...</ion-badge>
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-item-divider>
                        <ion-label>
                            Familiares
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="6">
                            <ng-template [ngIf]="!dataSourceFamiliares.data.length == 0" [ngIfElse]="noDataFamiliares">
                                <table mat-table [dataSource]="dataSourceFamiliares" class="mat-elevation-z8">
            
                                    <ng-container matColumnDef="dni">
                                        <th mat-header-cell *matHeaderCellDef> D.N.I. </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.dni | mask: '99.999.999' }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="apellido">
                                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.apellido }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parentesco">
                                        <th mat-header-cell *matHeaderCellDef> Parentesco </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.parentesco }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <ion-chip color="primary" (click)="onShowFamiliar(element.id)">
                                                <ion-icon name="search-circle"></ion-icon>
                                                <ion-label>Ver</ion-label>
                                            </ion-chip>
                                            <ion-chip color="warning" (click)="onEditFamiliar(element.id)">
                                                <ion-icon name="create"></ion-icon>
                                                <ion-label>Editar</ion-label>
                                            </ion-chip>
                                        </td>
                                    </ng-container>
                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFamiliar"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFamiliar;"></tr>
                                </table>
                            </ng-template>
                            <ng-template #noDataFamiliares>
                                <ion-badge color="tertiary">Para agregar el grupo familiar del profesional debe hacerlo desde familiares...</ion-badge>
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-item-divider>
                        <ion-label>
                            Tarjetas
                        </ion-label>
                    </ion-item-divider>
                    <ion-row [formGroup]="tarjetaForm">
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Tipo</ion-label>
                                <ion-select formControlName="tipo" placeholder="Seleccione Tipo" interface="popover" required>
                                    <ion-select-option value="Visa">Visa</ion-select-option>
                                    <ion-select-option value="Mastercard">Mastercard</ion-select-option>
                                    <ion-select-option value="Tuya">Tuya</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Banco</ion-label>
                                <ion-select formControlName="banco" placeholder="Seleccione Banco" interface="popover">
                                    <ion-select-option value="Nacion">Nacion</ion-select-option>
                                    <ion-select-option value="NBCH">Chaco</ion-select-option>
                                    <ion-select-option value="Santander">Santander</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Número</ion-label>
                                <ion-input type="string" formControlName="numero" minLength="16" maxLength="16" min="0"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Nombre</ion-label>
                                <ion-input type="string" formControlName="nombre"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Vencimiento</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="MM/YYYY" 
                                    formControlName="fecha_vencimiento"
                                    placeholder="Seleccione Vencimiento"
                                    max="2030-12-01"
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-end">
                            <ion-button color="primary" (click)="addNewTarjeta(tarjetaForm.value)">Agregar Tarjeta <ion-icon name="add-circle"></ion-icon></ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">
                            <ng-template [ngIf]="!dataSourceTarjetas.data.length == 0">
                                <table mat-table [dataSource]="dataSourceTarjetas" class="mat-elevation-z8">
            
                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="banco">
                                        <th mat-header-cell *matHeaderCellDef> Banco </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.banco }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="numero">
                                        <th mat-header-cell *matHeaderCellDef> Numero </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.numero | mask: '9999-9999-9999-9999' }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fecha_vencimiento">
                                        <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
                                        <td mat-cell *matCellDef="let element" > {{ element.fecha_vencimiento | date : 'MM/yyyy' }} </td>   
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <ion-chip color="danger" (click)="onDeletedTarjeta(element.id)">
                                                <ion-icon name="trash"></ion-icon>
                                                <ion-label>Borrar</ion-label>
                                            </ion-chip>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTarjetas"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTarjetas;"></tr>
                                </table>
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;">
                        <ion-button type="submit" color="success">Guardar</ion-button>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>