<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Generación de Recibos</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2" offset="1">
                            <ion-button expand="block" color="light" (click)="fileInput.click()">Importar Archivo</ion-button>
                            <input (change)="onFileSelected()" #fileInput type="file" id="file">
                        </ion-col> 
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;">
                        <ion-button type="submit" color="success">Generar</ion-button>
                    </ion-row>
                </ion-grid> 
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>