<ion-content [fullscreen]="true" padding="true">
    
  <ion-card size="large">
      <ion-card-header>
          <div style="display: flex; justify-content: space-between;">
              <ion-card-title>Listado de Estudios Contables</ion-card-title>
              <ion-button color="success" (click)="onNew()">Agregar Nuevo Estudio Contable</ion-button>
          </div>
      </ion-card-header>
      <ion-card-content>
          <div class="table-responsive">
  
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
  
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
                  <ng-container matColumnDef="denominacion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Denominacion </th>
                      <td mat-cell *matCellDef="let element"> {{ element.denominacion }} </td>
                  </ng-container>

                  <ng-container matColumnDef="cuit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> CUIT </th>
                      <td mat-cell *matCellDef="let element"> {{ element.cuit }} </td>
                  </ng-container>

                  <ng-container matColumnDef="zona">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> zona </th>
                      <td mat-cell *matCellDef="let element"> {{ element.zona }} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="direccion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
                      <td mat-cell *matCellDef="let element"> {{ element.direccion }} </td>
                  </ng-container>

                  <ng-container matColumnDef="localidad">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </th>
                      <td mat-cell *matCellDef="let element"> {{ element.localidad }} </td>
                  </ng-container>

                  <ng-container matColumnDef="provincia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
                    <td mat-cell *matCellDef="let element"> {{ element.provincia }} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                      <td mat-cell *matCellDef="let element">
                          <ion-chip color="primary" (click)="onShow(element)">
                              <ion-icon name="search-circle"></ion-icon>
                              <ion-label>Ver más</ion-label>
                          </ion-chip>
                          <ion-chip color="warning" (click)="onEdit(element)">
                              <ion-icon name="create"></ion-icon>
                              <ion-label>Editar</ion-label>
                          </ion-chip>
                      </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
  
              <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  
          </div>
      </ion-card-content>
  </ion-card>

</ion-content>