<ion-content [fullscreen]="true" padding="true">
    
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Seguimiento de Cheques</ion-card-title>
                <!-- <ion-button color="tertiary" size="small">cheques</ion-button> -->
                <!-- <ion-button color="primary" (click)="onNew()">Nuevo comprobante</ion-button> -->
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="table-responsive">
    
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
                    <ng-container matColumnDef="nro">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Cheque </th>
                        <td mat-cell *matCellDef="let element"> {{ element.nro }} </td>
                    </ng-container>

                    <ng-container matColumnDef="importe">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.importe }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="banco">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco </th>
                        <td mat-cell *matCellDef="let element"> {{ element.banco }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="fec_diferida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Diferida </th>
                        <td mat-cell *matCellDef="let element"> {{ element.fec_diferida.date | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="fec_comprobante">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Comprobante </th>
                        <td mat-cell *matCellDef="let element"> {{ element.fec_comprobante.date | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <ion-chip color="danger" (click)="onShowTrabajo(element.tot_nrolegali)">
                                <ion-icon name="search-circle"></ion-icon>
                                <ion-label>trab.</ion-label>
                            </ion-chip>
                            <ion-chip color="primary">
                                <ion-icon name="search-circle"></ion-icon>
                                <ion-label>compr.</ion-label>
                            </ion-chip>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-red': row.estado == 'RECHAZADO'}"></tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>