<ion-content [fullscreen]="true" padding="true">

  
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <h2>Panel de Notificaciones</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="1">
        <h3>Actividad Reciente</h3>
        <ion-card *ngFor="let notif of notificaciones" mode="ios">
          <ion-item>
            <ion-icon name="alert-circle-outline" style="font-size: 35px;" slot="start"></ion-icon>
            <ion-label>{{ notif.user }}</ion-label>
            <ion-badge color="{{ notif.color }}">{{ notif.action }}</ion-badge>
            <ion-button fill="outline" slot="end">{{ notif.created_at.date | date : 'full' }}</ion-button>
          </ion-item>
          <ion-card-content>
            {{ notif.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>