<ion-content [fullscreen]="true" padding="true">
    
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Listado de Cheques a vencer hoy</ion-card-title>
                <!-- <ion-button color="tertiary" size="small">cheques</ion-button> -->
                <!-- <ion-button color="primary" (click)="onNew()">Nuevo comprobante</ion-button> -->
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="table-responsive">
    
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="tot_nrocheque">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Cheque </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_nrocheque }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="tot_nroasi">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Asiento </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_nroasi }} </td>
                    </ng-container>

                    <ng-container matColumnDef="tot_nrolegali">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Legalizacion </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_nrolegali }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="tot_debe">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_debe }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="tot_concepto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_concepto }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="tot_fecdif">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Diferida </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_fecdif.date | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="tot_fecalt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Comprobante </th>
                        <td mat-cell *matCellDef="let element"> {{ element.tot_fecalt.date | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <ion-chip color="danger" (click)="onShowTrabajo(element.tot_nrolegali)">
                                <ion-icon name="search-circle"></ion-icon>
                                <ion-label>trab.</ion-label>
                            </ion-chip>
                            <ion-chip color="primary">
                                <ion-icon name="search-circle"></ion-icon>
                                <ion-label>compr.</ion-label>
                            </ion-chip>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estados </th>
                        <td mat-cell *matCellDef="let element">
                            <ion-chip color="success" (click)="onUpdateEstado(element, 'COBRADO')">
                                <ion-label>cobrado</ion-label>
                            </ion-chip>
                            <ion-chip color="danger" (click)="onUpdateEstado(element, 'RECHAZADO')">
                                <ion-label>rechazado</ion-label>
                            </ion-chip>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-red': row.com_estado == '9'}"></tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>