<ion-content [fullscreen]="true" padding="true">
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Listado de Debitos Automáticos - Caja de ahorro</ion-card-title>
                <!-- <ion-button color="primary" (click)="onNew()">Nuevo comprobante</ion-button> -->
                <ion-button color="danger">
                    <ion-icon name="add-circle"></ion-icon>
                    <ion-label>Adherir nuevo débito</ion-label>
                </ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="table-responsive">
    
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
                        <td mat-cell *matCellDef="let element"> {{ element.numero | mask: '9999-9999-9999-9999' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="banco">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco </th>
                        <td mat-cell *matCellDef="let element"> {{ element.banco }} </td>
                    </ng-container>

                    <ng-container matColumnDef="mes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mes </th>
                        <td mat-cell *matCellDef="let element"> {{ element.mes }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <ion-chip color="warning" (click)="onEdit(element)">
                                <ion-icon name="create"></ion-icon>
                                <ion-label>Editar</ion-label>
                            </ion-chip>
                            <ion-chip color="danger" (click)="onDeleted(element.id)">
                                <ion-icon name="backspace"></ion-icon>
                                <ion-label>Eliminar</ion-label>
                            </ion-chip>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>