table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-content {
    //--padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 70px;
}
  