<ion-content>
    <ion-card *ngIf="!showDetails">
        <ion-card-header>
            <ion-card-title>Generación de Archivo .TXT / .XLSX</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">
                            <ion-label position="floating">Cuenta:</ion-label>
                            <ion-item>
                                <ionic-selectable 
                                    item-content
                                    formControlName="cuenta" 
                                    itemValueField="numero" 
                                    itemTextField="descripcion"
                                    [items]="cuentas" 
                                    (onChange)="onChangeCuenta()"
                                    placeholder="Seleccione Cuenta"
                                >
                                </ionic-selectable>
                            </ion-item>
                        </ion-col> 
                        <ion-col size="2">
                            <ion-label position="floating">Tarjeta Tipo:</ion-label>
                            <ion-item>
                                <ionic-selectable 
                                    item-content
                                    formControlName="tarjeta_tipo" 
                                    itemValueField="nombre"
                                    itemTextField="nombre"
                                    [items]="tarjetas_tipo"
                                    (onChange)="onChangeTipo()"
                                    placeholder="Seleccione Tipo"
                                >
                                </ionic-selectable>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Fecha De Generación</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="DD de MMMM del YYYY" 
                                    formControlName="fecha_generacion"
                                    placeholder="Seleccione Fecha de Generacion."
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;">
                        <ion-button type="submit" color="success">Crear</ion-button>
                    </ion-row>
                </ion-grid> 
            </form>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="showDetails">
        <ion-card-header>
            <ion-card-title>Modelo de Prueba</ion-card-title>
            <ion-button color="danger" (click)="onReset()">Resetear Resultados</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formShow" (ngSubmit)="onExport()" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Nro. de Comercio</mat-label>
                                <input matInput formControlName="comercio" readonly>
                            </mat-form-field>
                        </ion-col> 
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Tarjeta</mat-label>
                                <input matInput formControlName="tarjeta" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Cuenta</mat-label>
                                <input matInput formControlName="cuenta" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Cantidad de Registros</mat-label>
                                <input matInput formControlName="registros" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Importe Total</mat-label>
                                <input matInput formControlName="total" readonly>
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;" *ngIf="isAdhs">
                        <ion-button type="submit" color="warning">
                            <ion-icon name="exit-outline"></ion-icon>
                            <ion-label>&nbsp;Extraer CSV</ion-label>
                        </ion-button>
                    </ion-row>
                </ion-grid> 
            </form>

            <div *ngIf="isAdhs; else noData">
                <h3>Detalle de Adheridos</h3>
                <hr>
                <table mat-table [dataSource]="dataSourceAdheridos" class="mat-elevation-z8">

                    <ng-container matColumnDef="afi_nrodoc">
                        <mat-header-cell *matHeaderCellDef> D.N.I. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.afiliado.afi_nrodoc | mask: '99.999.999' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="afi_nombre">
                        <mat-header-cell *matHeaderCellDef> Apellido y Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.afiliado.afi_nombre }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tar_tipo">
                        <mat-header-cell *matHeaderCellDef> Tarjeta Tipo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.tarjeta.descripcion }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tar_banco">
                        <mat-header-cell *matHeaderCellDef> Tarjeta Banco </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.tarjeta.banco }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fecha_adh">
                        <mat-header-cell *matHeaderCellDef> Fecha de Adhesión </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.fecha.date | date : 'dd/MM/yyyy' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cuenta">
                        <mat-header-cell *matHeaderCellDef> Cuenta </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.cuenta.descripcion }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumnsAdheridos"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsAdheridos;"></mat-row>
                </table>
            </div>
            <ng-template #noData>
                <h3>No se encontraron Adheridos</h3>
            </ng-template>

        </ion-card-content>
    </ion-card>

</ion-content>