<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Nuevo Afiliado</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="afiForm" (ngSubmit)="onSubmit(afiForm.value)" autocomplete="on">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Ficha</mat-label>
                                <input matInput formControlName="afi_ficha">
                            </mat-form-field>
                        </ion-col> 
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Datos Personales
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Zona</mat-label>
                                <mat-select formControlName="afi_zona" placeholder="selec. delegacion" [(ngModel)]="zonaSelectedDefault">
                                    <mat-option value="SC">Sede Central</mat-option>
                                    <mat-option value="VA">Villa Ángela</mat-option>
                                    <mat-option value="SP">Saénz Peña</mat-option>
                                    <mat-option value="SO">Sudoeste</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3" offset="1">
                            <mat-form-field appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="afi_sexo" placeholder="selec. sexo" [(ngModel)]="sexoSelectedDefault">
                                    <mat-option value="F">Femenino</mat-option>
                                    <mat-option value="M">Masculino</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Estado Civil</mat-label>
                                <mat-select formControlName="afi_civil" placeholder="Seleccione uno" [(ngModel)]="civilSelectedDefault">
                                    <mat-option value="S">Soltero/a</mat-option>
                                    <mat-option value="C">Casado/a</mat-option>
                                    <mat-option value="V">Viudo/a</mat-option>
                                    <mat-option value="D">Divorciado/a</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2" offset="1">
                            <ion-item>
                                <ion-label position="floating">Fecha de Nacimiento</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="DD de MMMM del YYYY" 
                                    formControlName="afi_fecnac"
                                    placeholder="selec. fecha de nac."
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido y Nombre</mat-label>
                                <input matInput formControlName="afi_nombre">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>D.N.I.</mat-label>
                                <input matInput formControlName="afi_nrodoc" mask="99.999.999">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Residencia
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="afi_direccion">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Provincia</mat-label>
                                <input matInput formControlName="afi_provincia">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Localidad</mat-label>
                                <input matInput formControlName="afi_localidad">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Código Postal</mat-label>
                                <input matInput formControlName="afi_codpos" mask="9999">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Contacto
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="afi_mail" type="email">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                             <mat-form-field appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input matInput formControlName="afi_telefono2" mask="(999) 9 999999">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Titulos
                        </ion-label>
                    </ion-item-divider>
                    <ion-row [formGroup]="tituloForm">
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Titulo</ion-label>
                                <ion-select formControlName="titulo" placeholder="Seleccione Titulo" interface="popover">
                                    <ion-select-option *ngFor="let titulo of titulosCollection; let i = index;" [value]="titulo"> 
                                        {{ titulo.nombre }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Matricula</ion-label>
                                <ion-input type="number" formControlName="matricula"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-end">
                            <ion-button color="primary" (click)="addNewTitulo(tituloForm.value)">Agregar Titulo <ion-icon name="add-circle"></ion-icon></ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ng-template [ngIf]="!dataSourceTitulos.data.length == 0" [ngIfElse]="noData">
                                <table mat-table [dataSource]="dataSourceTitulos" class="mat-elevation-z8">
            
                                    <ng-container matColumnDef="titulo">
                                        <th mat-header-cell *matHeaderCellDef> Titulo </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.titulo.nombre }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="matricula">
                                        <th mat-header-cell *matHeaderCellDef> Matricula </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.matricula }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <ion-chip color="danger" (click)="onDeletedTitulo(element.id)">
                                                <ion-icon name="trash"></ion-icon>
                                                <ion-label>Borrar</ion-label>
                                            </ion-chip>
                                        </td>
                                    </ng-container>
                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTitulo"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTitulo;"></tr>
                                </table>
                            </ng-template>
                            <ng-template #noData>
                                <ion-badge color="warning">Deberá agregar al menos un Título al profesional...</ion-badge>
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-badge color="tertiary">Para agregar el grupo familiar del profesional debe hacerlo desde familiares...</ion-badge>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Tarjetas
                        </ion-label>
                    </ion-item-divider>
                    <ion-row [formGroup]="tarjetaForm">
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="tipo" placeholder="Seleccione un tipo">
                                    <mat-option value="visa">Visa</mat-option>
                                    <mat-option value="mastercard">Mastercard</mat-option>
                                    <mat-option value="tuya">Tuya</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Banco</mat-label>
                                <mat-select formControlName="banco" placeholder="Seleccione un banco">
                                    <mat-option value="banco Nacion">Nacion</mat-option>
                                    <mat-option value="banco del chaco">Chaco</mat-option>
                                    <mat-option value="santander rio">Santander Río</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Numero</mat-label>
                                <input matInput formControlName="numero" mask="9999-9999-9999-9999">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre">
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2">
                            <ion-item>
                                <ion-label position="floating">Fecha de vencimiento</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="DD de MMMM del YYYY" 
                                    formControlName="fecha_vencimiento"
                                    placeholder="selec. fecha de vencimiento."
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2" style=" position: relative;top: 20px;">
                            <ion-button color="primary" (click)="addNewTarjeta(tarjetaForm.value)">Agregar Tarjeta <ion-icon name="add-circle"></ion-icon></ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="10">
                            <ng-template [ngIf]="!dataSourceTarjetas.data.length == 0">
                                <table mat-table [dataSource]="dataSourceTarjetas" class="mat-elevation-z8">
            
                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="banco">
                                        <th mat-header-cell *matHeaderCellDef> banco </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.banco }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="numero">
                                        <th mat-header-cell *matHeaderCellDef> numero </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.numero }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef> nombre </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fecha_vencimiento">
                                        <th mat-header-cell *matHeaderCellDef> fecha de vencimiento </th>
                                        <td mat-cell *matCellDef="let element" > {{ element.fecha_vencimiento | date : 'dd/MM/yyyy' }} </td>   
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <ion-chip color="danger" (click)="onDeletedTarjeta(element.id)">
                                                <ion-icon name="trash"></ion-icon>
                                                <ion-label>Borrar</ion-label>
                                            </ion-chip>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTarjetas"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTarjetas;"></tr>
                                </table>
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <ion-row style="display: flex; flex-direction: row-reverse;">
                        <ion-button type="submit" color="success">Guardar</ion-button>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>