<ion-content [fullscreen]="true" padding="true">
    
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Detalles del Trabajo #{{ trabajoId }}</ion-card-title>
                <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="traForm" autocomplete="off">
                <ion-grid>
                    <ion-item-divider>
                        <ion-label>
                          Datos
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Nro. Asiento</ion-label>
                                <ion-input formControlName="tra_nroasi" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Nro. Legalización</ion-label>
                                <ion-input formControlName="tra_nrolegali" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>