<ion-content [fullscreen]="true" padding="true">
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Nueva Adhesión</ion-card-title>
                <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="adhesionForm" (ngSubmit)="onSubmit(adhesionForm.value)" autocomplete="off">
                <ion-grid>
                    <ion-item-divider>
                        <ion-label>
                            Profesional
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Dni</ion-label>
                                <ion-input maxlength="1" formControlName="afi_id"></ion-input>
                            </ion-item>
                        </ion-col> 
                    </ion-row>
                    <ion-row>
                        <ion-col size="2" offset="10">
                            <ion-button type="submit" shape="round" fill="outline">Guardar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>