<ion-content [fullscreen]="true" padding="true">
    
    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Listado de comprobantes</ion-card-title>
                <ion-button color="tertiary" size="small">cheques</ion-button>
                <!-- <ion-button color="primary" (click)="onNew()">Nuevo comprobante</ion-button> -->
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="table-responsive">
    
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
                    <ng-container matColumnDef="com_nroasi">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Asiento </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_nroasi }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="com_nrocom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Comprobante </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_nrocom }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="com_proceso">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proceso </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_proceso }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="com_titulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_titulo }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="com_matricula">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricula </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_matricula }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="com_total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> $ Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.com_total }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <ion-chip color="primary">
                                <ion-icon name="search-circle"></ion-icon>
                                <ion-label>Ver más</ion-label>
                            </ion-chip>
                            <!-- <button nbButton ghost status="warning" (click)="onEdit(element)"><nb-icon icon="edit"></nb-icon></button>
                            <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                            <button nbButton ghost status="danger" (click)="onDeleted(element.id)"><nb-icon icon="trash-2"></nb-icon></button> -->
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-red': row.com_estado == '9'}"></tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>