<ion-content [fullscreen]="true" padding="true">

    <ion-card size="large">
        <ion-card-header>
            <div style="display: flex; justify-content: space-between;">
                <ion-card-title>Editar Estudio Contable</ion-card-title>
                <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="afiForm" (ngSubmit)="onSubmit(afiForm.value)" autocomplete="off">
                <ion-grid>
                    <ion-item-divider>
                        <ion-label>
                            Datos Del Estudio Contable
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">CUIT.</ion-label>
                                <ion-input type="number" formControlName="cuit"
                                    onKeyPress="if(this.value.length==15) return false;"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Zona</ion-label>
                                <ion-select formControlName="zona" placeholder="Seleccione una delegacion">
                                    <ion-select-option value="0001">SC</ion-select-option>
                                    <ion-select-option value="0002">SO</ion-select-option>
                                    <ion-select-option value="0003">VA</ion-select-option>
                                    <ion-select-option value="0004">LB</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label position="floating">Denominación</ion-label>
                                <ion-input formControlName="denominacion"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Residencia
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Dirección</ion-label>
                                <ion-input formControlName="direccion"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Localidad</ion-label>
                                <ion-input formControlName="localidad"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Provincia</ion-label>
                                <ion-input formControlName="provincia"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Código Postal</ion-label>
                                <ion-input type="number" formControlName="codigo_postal"
                                    onKeyPress="if(this.value.length==11) return false;"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Contacto
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input formControlName="email"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Telefono</ion-label>
                                <ion-input type="number" formControlName="telefono"
                                    onKeyPress="if(this.value.length==50) return false;"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Integrantes
                        </ion-label>
                    </ion-item-divider>
                    <ion-row *ngFor="let item of selectedEcArray;let indice=index">
                        <ion-col size="3">
                            <ion-list>
                                <ion-item>
                                    <ion-note slot="start">#{{indice+1}}</ion-note>
                                    <ion-label> Nombre: {{item.afi_nombre}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="2">
                            <ion-list>
                                <ion-item>
                                    <ion-label> DNI: {{item.afi_nrodoc}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="2">
                            <ion-list>
                                <ion-item>
                                    <ion-label> Matricula: {{indice+1}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="2">
                            <ion-list>
                                <ion-item>
                                    <ion-label>Titulo:</ion-label>
                                    <ion-label *ngFor="let titu of item.titulos">{{titu.nombre}},</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="2">
                            <ion-list>
                                <ion-item>
                                    <ion-chip color="danger" (click)="onDeleted(item)">
                                        <ion-icon name="trash"></ion-icon>
                                        <ion-label>Borrar</ion-label>
                                    </ion-chip>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div formArrayName="aliases">
                            <div *ngFor="let alias of aliases.controls; let i=index">
                                <ion-row>
                                    <ion-col size="6"  id="obj1" style="display:none">
                                        <ion-toolbar>
                                            <ion-title>Buscar un contador</ion-title>
                                        </ion-toolbar>
                                        <ion-toolbar>
                                            <ion-searchbar [formControlName]="i" cancelButtonText="Custom Cancel"
                                                animated (ionChange)="buscar($event)"
                                                placeholder="Ingrese nro Matricula, Nombre o DNI">
                                            </ion-searchbar>
                                        </ion-toolbar>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-list>
                                            <ion-item *ngFor="let item of EcArray | filtro: textoBuscar"
                                                (click)="addIntegrante(item)" href="javascript:void(0);">
                                                <ion-label>
                                                <h2>{{item.afi_nombre}}</h2>
                                                <p>Matricula: {{item.afi_matricula}}</p>
                                                <p>DNI {{item.afi_nrodoc}}</p>
                                            </ion-label>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <ion-row>
                                <ion-col size="3"  id="obj2">
                                    <ion-button (click)="ocultar()">Agregar otro integrante</ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </form>
                    <ion-row>
                        <ion-col size="2" offset="10">
                            <ion-button type="submit" shape="round" fill="outline">Guardar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>