<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Detalles de Afiliado</ion-card-title>
            <ion-button color="primary" (click)="onBack()">Volver al Listado</ion-button>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="afiForm" autocomplete="off">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Ficha</mat-label>
                                <input matInput formControlName="afi_ficha" readonly>
                            </mat-form-field>
                        </ion-col> 
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Datos Personales
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Zona</mat-label>
                                <mat-select formControlName="afi_zona" placeholder="selec. delegacion" disabled>
                                    <mat-option value="SC">Sede Central</mat-option>
                                    <mat-option value="VA">Villa Ángela</mat-option>
                                    <mat-option value="SP">Saénz Peña</mat-option>
                                    <mat-option value="SO">Sudoeste</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3" offset="1">
                            <mat-form-field appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="afi_sexo" disabled>
                                    <mat-option value="F">Femenino</mat-option>
                                    <mat-option value="M">Masculino</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Estado Civil</mat-label>
                                <mat-select formControlName="afi_civil" disabled>
                                    <mat-option value="S">Soltero/a</mat-option>
                                    <mat-option value="C">Casado/a</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="2" offset="1">
                            <ion-item>
                                <ion-label position="floating">Fecha de Nacimiento</ion-label>
                                <ion-datetime
                                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                                    displayFormat="DD de MMMM del YYYY" 
                                    formControlName="afi_fecnac"
                                    placeholder="selec. fecha de nac."
                                    readonly
                                >
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido y Nombre</mat-label>
                                <input matInput formControlName="afi_nombre" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>D.N.I.</mat-label>
                                <input matInput formControlName="afi_nrodoc" mask="99.999.999" readonly>
                            </mat-form-field>                            
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Residencia
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="afi_direccion" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Provincia</mat-label>
                                <input matInput formControlName="afi_provincia" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Localidad</mat-label>
                                <input matInput formControlName="afi_localidad" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Código Postal</mat-label>
                                <input matInput formControlName="afi_codpos" readonly>
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                            Contacto
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="afi_mail" readonly>
                            </mat-form-field>
                        </ion-col>
                        <ion-col size="3">
                            <mat-form-field appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input matInput formControlName="afi_telefono2" mask="(999) 9 999999" readonly>
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                          Títulos
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="3">
                            <table mat-table [dataSource]="dataSourceTit" class="mat-elevation-z8">
                                <ng-container matColumnDef="titulo">
                                    <th mat-header-cell *matHeaderCellDef> Titulo </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.titulo.nombre }} </td>
                                </ng-container>
                                <ng-container matColumnDef="matricula">
                                    <th mat-header-cell *matHeaderCellDef> Matricula </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.matricula }} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedTitulo"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedTitulo;"></tr>
                            </table>    
                        </ion-col>          
                    </ion-row>
                    <ion-item-divider>
                        <ion-label>
                          Familiares
                        </ion-label>
                    </ion-item-divider>
                    <ion-row>
                        <ion-col size="6">
                            <table mat-table [dataSource]="dataSourceFam" class="mat-elevation-z8">
                                <ng-container matColumnDef="apellido">
                                    <th class="titulo-afi" mat-header-cell *matHeaderCellDef> Apellido </th>
                                    <td mat-cell *matCellDef="let item"> {{ item.apellido }} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombre">
                                    <th class="titulo-afi" mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let item"> {{ item.nombre }} </td>
                                </ng-container>
                                <ng-container matColumnDef="dni">
                                    <th class="titulo-afi" mat-header-cell *matHeaderCellDef> DNI </th>
                                    <td mat-cell *matCellDef="let item"> {{ item.dni }} </td>
                                </ng-container>
                                <ng-container matColumnDef="parentesco">
                                    <th mat-header-cell *matHeaderCellDef> Parentesco </th>
                                    <td mat-cell *matCellDef="let item"> {{ item.parentesco }} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedFamiliar"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedFamiliar;"></tr>
                            </table>  
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-item-divider>
                    <ion-label>
                        Tarjetas
                    </ion-label>
                </ion-item-divider>
                <ion-row>
                    <ion-col size="6">
                        <table mat-table [dataSource]="dataSourceTar" class="mat-elevation-z8">
            
                            <ng-container matColumnDef="banco">
                                <th mat-header-cell *matHeaderCellDef> Banco </th>
                                <td mat-cell *matCellDef="let element"> {{ element.banco }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_vencimiento">
                                <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
                                <td mat-cell *matCellDef="let element" > {{ element.fecha_vencimiento.date | date : 'MM/yyyy' }} </td>   
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <ion-chip color="danger" (click)="onDeletedTarjeta(element.id)">
                                        <ion-icon name="trash"></ion-icon>
                                        <ion-label>Borrar</ion-label>
                                    </ion-chip>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedTarjetas"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedTarjetas;"></tr>
                        </table>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>